{% extends "app/base.html" %}
{% load static %}

{% block title %}Registro de Compradores - Edu Ayuda Plus{% endblock %}

{% block content %}
<div class="container-formulario">
  <h1 id="titulo-formulario">Registro de Compradores</h1>
  <form id="registroForm" method="post" action="{% url 'registro' %}" novalidate>
      <div class="form-group">
          <label for="nombre">Nombre </label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido </label>
        <input type="text" class="form-control" id="apellido" name="apellido" required>
      </div>
      <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" minlength="6" maxlength="18"
              required>
      </div>
      <div class="form-group">
          <label for="confirmPassword">Confirmar contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" minlength="6"
              maxlength="18" required>
      </div>
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-secondary">Limpiar</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/scriptFormularioRegistro.js' %}"></script>
{% endblock %}
